{
{%- set name = "NatsTSclient" %}
{%- set version = "1.0.0" %}
{%- set description = "" %}
  {%- if asyncapi.info() | length %}
    {%- if asyncapi.info().title() | length %}
      {% set name = asyncapi.info().title() | kebabCase %}
    {%- endif %}
    {%- if asyncapi.info().description() | length %}
      {% set description = asyncapi.info().description() | oneLine %}
    {%- endif %}
    {%- if asyncapi.info().version() | length %}
      {% set username = asyncapi.info().version() %}
    {%- endif %}
  {%- endif %}
  "name": "{{name}}",
  "description": "{{description}}",
  "version": "{{version}}",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "scripts": {
    "watch": "tsc --watch",
    "build": "tsc",
    "test:integration": "./node_modules/.bin/mocha -r ts-node/register src/tests/**/*.spec.ts --exit"
  },
  "dependencies": {
		"@types/klaw-sync": "^6.0.0",
		"@types/node": "13.9.5",
    "ts-nats": "1.2.4",
    "typescript": "3.4.3",
    "ts-nkeys":"1.0.16"
  },
	"devDependencies": {
    "ts-node": "^8.10.2",
    "@types/mocha": "^8.0.4",
    "@types/chai": "^4.2.14",
    "chai": "^4.2.0",
    "mocha": "^8.2.1"
	}
}
