{
{%- set name = "NatsTSclient" %}
{%- set version = "1.0.0" %}
{%- set description = "" %}
  {%- if asyncapi.info() | length %}
    {%- if asyncapi.info().title() | length %}
      {% set name = asyncapi.info().title() | kebabCase %}
    {%- endif %}
    {%- if asyncapi.info().description() | length %}
      {% set description = asyncapi.info().description() | oneLine %}
    {%- endif %}
    {%- if asyncapi.info().version() | length %}
      {% set username = asyncapi.info().version() %}
    {%- endif %}
  {%- endif %}
  "name": "{{name}}",
  "description": "{{description}}",
  "version": "{{version}}",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "scripts": {
    "watch": "tsc --watch",
    "build": "tsc && npm run dopostinstall",
    "start": "node src/api/index.js",
    "dopostinstall": "link-module-alias",
    "test": "mocha -r ts-node/register tests/**/*.spec.ts"
  },
  "_moduleAliasIgnoreWarning": true,
  "_moduleAliases": {
    "#messages": "dist/messages/",
    "#schemas": "dist/schema/",
    "#channels": "dist/channels/",
    "#testchannels": "dist/tests/testclient/testchannels/",
    "#hooks": "dist/hooks.js",
    "#testclient": "dist/tests/testclient/index.js"
  },
  "dependencies": {
		"@types/klaw-sync": "^6.0.0",
		"@types/node": "13.9.5",
    "link-module-alias": "^1.2.0",
    "ts-nats": "1.2.4",
    "typescript": "3.4.3",
    "ts-nkeys":"1.0.16"
  },
	"devDependencies": {
		"@types/chai": "^4.2.11",
		"@types/mocha": "^7.0.2",
		"chai": "^4.2.0",
		"mocha": "^7.1.1",
		"ts-node": "^8.8.1"
	}
}
