import { expect } from 'chai';
import 'mocha';

{% macro testProp(schema, required=true) %}
  {%- if schema.allOf() | length %}
    {%- for allOfSchema in schema.allOf() %}
    {{testProp(allOfSchema)}}
    {%- endfor %}
  {%- endif %}

  {%- if schema.oneOf() | length %}
    test:{{schema.oneOf() | oneOfSchemaType}}
  {%- endif %}

  {%- if schema.anyOf() | length %}
    {%- for oneOfSchema in schema.anyOf() %}
    {{testProp(oneOfSchema, false)}}
    {%- endfor %}
  {%- endif %}

  {%- if schema.properties() | length %}
      {%- for propertyName, property in schema.properties() %}
      {{ propertyName}}{% if not required or not property.required() %}?{% endif %}: {{ property.type() | toTsType }}
      {%- endfor %}
  {%- endif %}

{% endmacro %}

describe('{{schema.uid() | camelCase}}', () => { 
    it('should contain ', () => { 
      const result = helloTest();
      expect(result).to.equal(true); 
  }); 
});