
{% macro initProperties(schema, required=true) %}
  {%- if schema.allOf() | length %}
    {%- for allOfSchema in schema.allOf() %}
    {{initProperties(allOfSchema)}}
    {%- endfor %}
  {%- endif %}

  {%- if schema.oneOf() | length %}
    test:{{schema.oneOf() | oneOfSchemaType}}
  {%- endif %}

  {%- if schema.anyOf() | length %}
    {%- for oneOfSchema in schema.anyOf() %}
    {{initProperties(oneOfSchema, false)}}
    {%- endfor %}
  {%- endif %}

  {%- if schema.type() == "object" %}
      {%- for propertyName, property in schema.properties() %}
      {{ propertyName}}{% if not required or not property.required() %}?{% endif %}: {{ property.type() | toTsType(property) }}
      {%- endfor %}
  {%- elif schema.type() | length %}
    type: {{ schema.type() | toTsType }}
  {%- endif %}

{% endmacro %}

{%- macro setConstructorProperties(schema) %}
  {%- if schema.allOf() | length %}
    {%- for allOfSchema in schema.allOf() %}
    {{setConstructorProperties(allOfSchema)}}
    {%- endfor %}
  {%- endif %}
  {%- if schema.oneOf() | length %}
    {{setProperty("oneOf")}}
  {%- endif %}
  {%- if schema.anyOf() | length %}
    {%- for anyOfSchema in schema.anyOf() %}
    {{setConstructorProperties(anyOfSchema)}}
    {%- endfor %}
  {%- endif %}

  {%- if schema.type() == "object" %}
      {%- for propertyName, property in schema.properties() %}
        {% if property.required() %}
        {{setProperty(propertyName)}}
        {%- endif %}
      {%- endfor %}
  {%- elif schema.type() | length %}
    {{setProperty("type")}}
  {%- endif %}
  
{%- endmacro %}

{%- macro setProperty(propertyName) %}
    this.{{propertyName}} = {{propertyName}};
{% endmacro %}


{%- for _, import in (schema | schemaImports) %}
{{import | safe }}
{%- endfor %}

export default class {{ schema.uid() | camelCase }} {

  {{ initProperties(schema) }}

  constructor(
    {{schema | schemaConstructorParameters}}
  ){
  {{setConstructorProperties(schema)}}
  }
}
