
{% macro request(defaultContentType, channelName, publishMessage, subscribeMessage, messageDescription) %}
  /**
  *  {{messageDescription}}
  * @param requestMessage The request message to send.
  */
  public request{{channelName | pascalCase }}(requestMessage: {{ publishMessage.uid() | pascalCase }}Message): Promise<{{ subscribeMessage.uid() | pascalCase }}Message> {
    {%- if message | isBinaryPayload(defaultContentType) %}
    Client nc = this.binaryClient;
    {%- endif %}
    {%- if message | isStringPayload(defaultContentType) %}
    Client nc = this.stringClient;
    {%- endif %}
    {%- if message | isJsonPayload(defaultContentType) %}
    Client nc = this.jsonClient;
    {%- endif %}
    return {{ channelName | camelCase }}Channel.request(requestMessage, nc);
  }
{% endmacro %}
