
{% macro publish(defaultContentType, channelName, message, messageDescription) %}
  /**
  *  {{messageDescription}}
  * @param requestMessage The message to publish.
  */
  public publishTo{{channelName | pascalCase }}(requestMessage: {{ message.uid() | pascalCase }}Message): Promise<void> {
    {%- if message.contentType() | isBinaryPayload(defaultContentType) %}
    const nc: Client = this.binaryClient!;
    {%- endif %}
    {%- if message.contentType() | isStringPayload(defaultContentType) %}
    const nc: Client = this.stringClient!;
    {%- endif %}
    {%- if message.contentType() | isJsonPayload(defaultContentType) %}
    const nc: Client = this.jsonClient!;
    {%- endif %}
    return {{ channelName | camelCase }}Channel.publish(requestMessage, nc);
  }
{% endmacro %}
