
{% macro request(defaultContentType, channelName, publishMessage, subscribeMessage, messageDescription, parameters) %}
  /**
  *  {{messageDescription}}
  * @param requestMessage The request message to send.
  */
  public request{{channelName | pascalCase }}(requestMessage: {{ publishMessage.uid() | pascalCase }}Message 
  {% if parameters | length %}
    ,{{parameters | realizeParametersForChannel}}
  {% endif %}): Promise<{{ subscribeMessage.uid() | pascalCase }}Message> {
    {%- if publishMessage.contentType() | isBinaryPayload(defaultContentType) %}
    const nc: Client = this.binaryClient!;
    {%- endif %}
    {%- if publishMessage.contentType() | isStringPayload(defaultContentType) %}
    const nc: Client = this.stringClient!;
    {%- endif %}
    {%- if publishMessage.contentType() | isJsonPayload(defaultContentType) %}
    const nc: Client = this.jsonClient!;
    {%- endif %}
    if(nc){
      return {{ channelName | camelCase }}Channel.request(requestMessage, nc
      {% if parameters | length %}
        ,{{parameters | realizeParametersForChannelWithoutType}}
      {% endif %});
    }else{
      return Promise.reject(new Error('Nats client is not connected, could not send message on channel {{ channelName | camelCase }}'))
    }
  }
{% endmacro %}
