
{% macro subscribe(defaultContentType, channelName, message, messageDescription, parameters) %}
  /**
  *  {{messageDescription}}
  * @param onDataCallback Called when message recieved.
  */
  public subscribeTo{{channelName | pascalCase }}(onDataCallback : (err?: NatsError, msg?: {{ message.uid() | pascalCase }}Message) => void, {% if parameters | length %}
    ,{{parameters | realizeParametersForChannel}}
  {% endif %}): Promise<Subscription> {
    {%- if message.contentType() | isBinaryPayload(defaultContentType) %}
    const nc: Client = this.binaryClient!;
    {%- endif %}
    {%- if message.contentType() | isStringPayload(defaultContentType) %}
    const nc: Client = this.stringClient!;
    {%- endif %}
    {%- if message.contentType() | isJsonPayload(defaultContentType) %}
    const nc: Client = this.jsonClient!;
    {%- endif %}
    if(nc){
      return {{ channelName | camelCase }}Channel.subscribe(onDataCallback, nc
      {% if parameters | length %}
        ,{{parameters | realizeParametersForChannelWithoutType}}
      {% endif %});
    }else{
      reject(new Error("Nats client is not connected"));
    }
  }
{% endmacro %}
