
{%- from "../../../../../partials/channel/Publish.njk" import publish %}
{%- from "../../../../../partials/channel/Reply.njk" import reply %}
{%- from "../../../../../partials/channel/Request.njk" import request %}
{%- from "../../../../../partials/channel/Subscribe.njk" import subscribe %}
{%- if channel.hasPublish() %}
{%- if channel.publish().message(0).payload() | messageHasNotNullPayload %}
import * as {{ channel.publish().message(0).uid() | pascalCase }}Message from '../../../messages/{{ channel.publish().message(0).uid() | pascalCase}}';
{%- endif %}
{%- endif %}
{%- if channel.hasSubscribe() %}
{%- if channel.subscribe().message(0).payload() | messageHasNotNullPayload %}
import * as {{ channel.subscribe().message(0).uid() | pascalCase }}Message from '../../../messages/{{ channel.subscribe().message(0).uid() | pascalCase}}';
{%- endif %}
{%- endif %}
import { Client, NatsError, Subscription, SubscriptionOptions, Payload } from 'ts-nats';
import {ErrorCode, NatsTypescriptTemplateError} from '../../../NatsTypescriptTemplateError';
import { Hooks } from '../../../hooks';


{%- if channel | isRequestReply %}
  {%- if channel | isRequester %}
  {{ reply(channelName, channel.parameters(), channel.subscribe().message(0), channel.publish().message(0), asyncapi.server(params.server), params) }}
  {%- endif %}
  {%- if channel | isReplier %}
  {{ request(channelName, channel.parameters(), channel.publish().message(0), channel.subscribe().message(0), asyncapi.server(params.server)) }}
  {%- endif %}
{%- endif %}

{%- if channel | isPubsub %}
  {%- if channel.hasSubscribe() %}
  {{ subscribe(channelName, channel.parameters(), channel.subscribe().message(0), asyncapi.server(params.server)) }}
  {%- endif %}
  {%- if channel.hasPublish() %}
  {{ publish(channelName, channel.parameters(), channel.publish().message(0), asyncapi.server(params.server)) }}
  {%- endif %}
{%- endif %}
